#header{
    background-image: url(delanin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 110px;
    position: relative;
    color: azure;
}
.display1{
    font-size: 50px;
}
.display2{
    text-align: center;
    color :black
}
.about{
    text-align: center;
}
#services{
    background-image: url(delanicomp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: azure;
    font-size:  15px 
}
.display3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.row1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:100px;

}
.img-fluid{
    margin-left: 2.5rem;
}
.row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:100px;
}
#contact{
    background-image: url(delani1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: azure;
}
.final{
    justify-items: center;
}
#design-hide {
    display: none;
}
#development-hide{
    display: none;
}
#product-hide{
    display: none;
}
.bailey{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.bailey p{
    font-size: 50px;
    border: 20px solid white;
}
.baileytext{
    font-size: 18px;
    border: 5px, solid black;
}
.services-text{
    font-size: 17px;
}
#name-input::placeholder, #mail-input::placeholder, #message::placeholder{
    color: white;
}
.submit{
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

